*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  padding: .5rem;
  font-family: sans-serif;
}

img{
  display: block;
  margin: 8rem auto 72rem;
  max-width: 100%;
  height: auto;
}

img:last-of-type{
  margin-bottom: 8rem;
}

h1,
h2{
  text-align: center;
  margin: 0 0 4rem;
  line-height: 1.618;
}

h1 + h2{
  margin-top: -3rem;
}

li{
  display: block;
  text-align: center;
  line-height: 1.608;
  font-size: 2rem;
}

.error{
  color: #c00;
}

.no-js .lazy,
.no-js .lazyload,
.no-js .lozad,
.no-js .b-lazy{
  display: none;
}
